body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    width: 100%;
    height: 100vh;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.scroll-container {
    display: flex;
    align-items: center;
    width: 90%;
}
.movie-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.movie-tile {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    flex: 0 0 auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.movie-tile p:first-of-type {  
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.movie-tile:hover {
    transform: scale(1.05);
}
.movie-tile img {
    width: 100%;
    border-radius: 5px;
}
.scroll-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    display: none;
}
.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 60%;
    max-width: 600px;
}

.popup.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.movie-details {
    margin-top: 10px;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
}



.mini-loader {
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.scroll-container {
    position: relative;
    min-height: 200px;
}